body{
    background: #9bcc87;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(176, 68%, 74%, 0.123), hsla(219, 66%, 72%, 0.075), hsla(240, 51%, 67%, 0.068)), url(https://cdn.pixabay.com/photo/2018/04/16/12/59/face-3324569_960_720.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(176, 68%, 74%, 0.123), hsla(219, 66%, 72%, 0.075), hsla(240, 51%, 67%, 0.068)), url(https://cdn.pixabay.com/photo/2018/04/16/12/59/face-3324569_960_720.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
}

.bg-purple{
    background-color: transparent;
    border-bottom: 1px solid #cccccc;
}

.navbar{
    border-bottom: 1px solid #cccccc;
}

.nav-item{
    margin-right: 55px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3{
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.navbar-nav li:hover{
    color: teal !important;
}

.fa-users{
    color: rgb(58, 153, 45);
    font-size: 80px;
}

.option{
    width: 200px;
    height: 200px;
    margin: 3%;
    background-color: #efebfa;
    border: 2px #e6e6e6 solid;
    border-right: 4px #dddddd solid;
    border-bottom: 4px #dddddd solid;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
}

.fa-facebook{
    font-size: 3rem;
    color: blue;
}

.fa-phone-square-alt{
    font-size: 3rem;
    color: rgb(39, 204, 66); 
}

.fa-instagram-square{
    font-size: 3rem;
    color: rgb(201, 17, 201);
}

