.bg-footer {
    background-color: white;
    padding: 25px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    background: #5cc448;
    color: white;
    border-radius: 10px;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    background: #5cc448;
    border-radius: 10px;
    color: white;
}

.height-carousel {
    max-height: 600px;
    min-height: 600px;
}

.content {
    width: 1100px;
    margin-left: 20%;
}

.card {
    padding: 30px;
    margin-top: 3%;
}

.inline {
    display: flex;
    flex-wrap: wrap;
}

.fa-facebook {
    font-size: 3rem;
    color: blue;
}

.fa-phone-square-alt {
    font-size: 3rem;
    color: rgb(39, 204, 66);
}

.fa-instagram-square {
    font-size: 3rem;
    color: rgb(201, 17, 201);
}