body{
    background: #9bcc87;
    background: -webkit-linear-gradient(to right, hsla(176, 68%, 74%, 0.123), hsla(219, 66%, 72%, 0.075), hsla(240, 51%, 67%, 0.068)), url(https://cdn.pixabay.com/photo/2017/01/14/12/59/iceland-1979445_960_720.jpg);
    background: linear-gradient(to right, hsla(176, 68%, 74%, 0.123), hsla(219, 66%, 72%, 0.075), hsla(240, 51%, 67%, 0.068)), url(https://cdn.pixabay.com/photo/2017/01/14/12/59/iceland-1979445_960_720.jpg); 
    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: white;
}
.title{
    color: rgb(243, 243, 247);
    font-size: 30px;
}
.subtitle{
    color: rgb(248, 248, 252);
    font-size: 15px;
}
.form{
    background-color: rgba(43, 119, 131, 0.705);
    border-radius: 10px;
    margin: 5%;
    color: white;
    border-right:3px rgba(129, 129, 129, 0.493) solid;
    border-bottom:3px rgba(143, 141, 141, 0.575) solid;

}
.normal input,select{
  width: 300px;
  height: 30px;
  border-radius: 4px;
  border:0.5px rgb(68, 0, 255) solid;
}
.normal textarea{
    width: 300px;
    height: 100px;
}
.img-crear{
    width: 250px;
    height: 300px;
    border-radius: 5px;
}
.bg-purple{
    background-color: transparent;
    border-bottom: 1px solid #cccccc;
}

.navbar{
    border-bottom: 1px solid #cccccc;
}

.nav-item{
    margin-right: 40px;
}
.redes{
    margin-right: 20px;
    cursor: pointer;
}
/*input{
    border:1px rgb(18, 15, 163) solid;
    border-radius: 0%;
    height: 30px;
    width: 200px;
}
.radio-input{
    width: 0%;
}*/