body{
 background-color: white;
}
h1{
    color: white;
}
.title{
    color: rgb(243, 243, 247);
    font-size: 30px;
}
.subtitle{
    color: rgb(248, 248, 252);
    font-size: 15px;
}
.form{
    background-color: rgba(14, 42, 46, 0.842);
    margin: 5%;
    color: white;
    border-right:3px rgba(129, 129, 129, 0.493) solid;
    border-bottom:3px rgba(143, 141, 141, 0.575) solid;

}
.normal input,select{
  width: 300px;
  height: 30px;
  border-radius: 4px;
  border:0.5px rgb(68, 0, 255) solid;
}
.normal textarea{
    width: 300px;
    height: 100px;
}
.img-crear{
    width: 250px;
    height: 300px;
    border-radius: 5px;
}

/*input{
    border:1px rgb(18, 15, 163) solid;
    border-radius: 0%;
    height: 30px;
    width: 200px;
}
.radio-input{
    width: 0%;
}*/