.bg-footer{
    background-color: #D6F4FE;
}


.height-carousel {
    max-height: 400px;
    min-height: 400px;
}
.fa-facebook{
    font-size: 3rem;
    color: blue;
    }
    .fa-whatsapp{
        font-size: 3rem;
        color: rgb(39, 204, 66); 
    }
    .fa-instagram-square{
        font-size: 3rem;
        color: rgb(141, 19, 141)
    }
    .img-inicio{
        width: 100px;
        border-radius: 100%;
        border:2px green solid;
    }
    .fa-smile-beam{
        font-size: 2rem;
        color: rgb(39, 204, 66); 
    }
    .fa-frown{
        font-size: 2rem;
    color: blue;
    }
.form{
    width: 400px;
    height: 100px;
}
.card-img-top{
    width: 250px;
    height: 200px;
}
.card{
    transition: 0.9s;
    transform: scale(1.0);
    cursor: pointer;
    width: 300px;
    height: 500px;}

.card:hover{
    border: 5px rgb(12, 151, 42) solid;
    box-shadow: 3px 5px 5px #706f6f;
}
.list-group-item{
    font-size: 15px;
}
.comment{
    transition: 0.9s;
    margin-right: 2%;
    background-color: rgb(196, 197, 248);
}
.comment:hover{
    cursor: pointer;
    transform: scale(1.0);
    background-color: rgb(185, 214, 204);
    border: 5px rgb(38, 54, 99) solid;
    box-shadow: 3px 5px 5px #706f6f;
}
.form-control-file{
    color: rgb(35, 30, 66);
}