
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 430px !important;
}
.form-check-label{
    color:black;
}
.container-div{
    margin-top: 35px;
    margin-bottom: 50px;
  
}

.color{
    background-color: rgba(137, 230, 225, 0.644);
}

#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    }
    #video_pattern {
    background:#fff;
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    }

.h1{
    margin-bottom: 20px !important;
    border-bottom: 2px black solid;
}

.icon-redes{
    font-size: 50px;
    margin-right: 5%;
    padding-top: 3%;
}

.fa-google{
    color:blue;
}
.fa-facebook{
    color:blue
}

/*Estilos del index recupera tu cuenta*/
.container1{
    display: flex;
    justify-content: center !important;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 500px !important;
}
.text{
    color:black;
}
.cuenta{
    display:flex;
    justify-content:center;
    text-align:center;
    height: 50px;
    margin-top: 5px;
    width: 400px;
    align-items: center;
}

.form-group a{
    color:blue;
}
